<%- include('../layouts/userLayouts/header.ejs') %>
<%- include('../layouts/userLayouts/navbar.ejs') %>
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('userAssets/images/about-header-bg.jpg')">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p>"Our vision is to become the ultimate destination for watch enthusiasts worldwide, recognized for our exceptional selection, unmatched customer service, and passion for horology. We strive to create a vibrant online community where watch enthusiasts can connect, share their passion, and stay up-to-date with the latest trends and innovations in the watch industry. By consistently curating a diverse range of timepieces, we aim to inspire our customers and help them discover watches that not only complement their style but also become cherished symbols of personal expression and timeless elegance. With a focus on innovation, transparency, and customer-centricity, we envision our watch selling website as the go-to platform that redefines the watch buying experience, setting new standards of excellence in the industry." </p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p>"Our mission is to provide watch enthusiasts with a curated selection of high-quality timepieces that combine style, craftsmanship, and functionality. We aim to offer a seamless online shopping experience, where customers can explore an extensive collection of watches from renowned brands, discover new trends, and find the perfect timepiece that reflects their individuality. We are committed to delivering exceptional customer service, ensuring that every customer feels valued and satisfied with their purchase. Our mission is to inspire and empower watch enthusiasts by sharing our passion for horology and helping them make informed decisions, ultimately enhancing their overall watch-buying journey." </p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">Who We Are</h2><!-- End .title -->
                        <p class="mb-2">At PH TIMES, we are passionate about watches and dedicated to providing an exceptional shopping experience for enthusiasts worldwide. With a handpicked collection of exquisite timepieces from renowned brands, we offer the perfect blend of design, quality, and functionality. Our commitment to exceptional customer service ensures that every interaction is personalized, prompt, and reliable. Join us and discover extraordinary watches that reflect your unique style and personality. Welcome to [Your Watch Selling Website], where time is celebrated, and exceptional watches await.</p>

                       
                    </div><!-- End .col-lg-5 -->

                    <div class="col-lg-6 offset-lg-1">
                        <div class="about-images">
                            <img src="/userAssets/images/about/img-1.jpg" alt="" class="about-img-front">
                            <img src="/userAssets/images/about/img-2.jpg" alt="" class="about-img-back">
                        </div><!-- End .about-images -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-6 pb-6 -->

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="brands-text">
                        <h2 class="title">The world's premium design brands in one destination.</h2><!-- End .title -->
                        <p>"We are proud to offer a curated selection of world-class brand watches, ensuring that our customers have access to the finest timepieces renowned for their craftsmanship, precision, and iconic status."</p>
                    </div><!-- End .brands-text -->
                </div><!-- End .col-lg-5 -->
                <div class="col-lg-7">
                    <div class="brands-display">
                        <div class="row justify-content-center">
                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/1.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/2.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/3.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/4.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/5.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/6.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/7.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/8.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->

                            <div class="col-6 col-sm-4">
                                <a href="#" class="brand">
                                    <img src="userAssets/images/brands/9.png" alt="Brand Name">
                                </a>
                            </div><!-- End .col-sm-4 -->
                        </div><!-- End .row -->
                    </div><!-- End .brands-display -->
                </div><!-- End .col-lg-7 -->
            </div><!-- End .row -->

            <hr class="mt-4 mb-6">

            

          
        </div><!-- End .container -->

     
       
    </div><!-- End .page-content -->
</main><!-- End .main -->

<%- include('../layouts/userLayouts/footer.ejs') %>