<%- include('../layouts/userLayouts/header.ejs') %>
<%- include('../layouts/userLayouts/navbar.ejs') %>
<style>
    .button-minus,
    .button-plus {
        width: 30px;
        height: 30px;
        line-height: 0;
    }

    .quantity-field {
        max-width: 70px;
    }
</style>
<div class="page-wrapper">
<main class="main">
   
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>total</th>
                                </tr>
                            </thead>

                           
                        </table><!-- End .table table-wishlist -->
                        <H2 style="text-align: center;margin-top: 100px; margin-bottom: 100px;">Your Have Nothing In Cart</H2>
                        
                    </div><!-- End .col-lg-9 -->
                    
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
</div>



<%- include('../layouts/userLayouts/footer.ejs') %>