<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="widget widget-about">
                        <img src="/userAssets/images/demos/demo-7/footerLogo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>"At PH TIMES, we bring you a curated selection of the finest watches to enhance your personal style. Discover an exquisite collection of timepieces, carefully handpicked for their craftsmanship, precision, and elegance."</p>
                        <div class="widget-about-info">
                            <div class="row">
                                
                             
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-4 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Useful links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">About PH TIMES</a></li>
                            <li><a href="#">How to shop on PH TIMES</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="/login">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/signup">Sign In</a></li>
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/orders">Track My Order</a></li>
                        
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

                
            </div><!-- End .row -->
        </div><!-- End .container-fluid -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="footer-copyright">Copyright © 2023 PH Times. All Rights Reserved.</p><!-- End .footer-copyright -->


        </div><!-- End .container-fluid -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
<div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>
    
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            <li>
                <a href="/home">Home</a>

                
            </li>
            <li>
                <a href="/shop">Shop</a>
               
            </li>
           
            
        </ul>
    </nav><!-- End .mobile-nav -->

    
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->




<!-- MODAL -->



<!-- Plugins JS File -->
<!-- <script src="assets/js/jquery.min.js"></script> -->
<script src="/userAssets/js/jquery.min.js"></script>
<!-- <script src="/userAssets/main.js"></script> -->
<script src="/userAssets/js/bootstrap.bundle.min.js"></script>
<script src="/userAssets/js/jquery.hoverIntent.min.js"></script>
<script src="/userAssets/js/jquery.waypoints.min.js"></script>
<script src="/userAssets/js/superfish.min.js"></script>
<script src="/userAssets/js/bootstrap-input-spinner.js"></script>
<script src="/userAssets/js/owl.carousel.min.js"></script>
<script src="/userAssets/js/jquery.plugin.min.js"></script>
<script src="/userAssets/js/jquery.magnific-popup.min.js"></script>
<script src="/userAssets/js/jquery.countdown.min.js"></script>
<!-- externely added -->
<script src="/userAssets/js/jquery.elevateZoom.min.js"></script>
<!-- Main JS File -->
<script src="/userAssets/js/main.js"></script>
<script src="/userAssets/js/demos/demo-7.js"></script>
<script src="/userAssets/js/modal.js"></script>
</body>



</html>